body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    height:100%;
}
h1.title {
    font-size: 45px;
    padding-bottom: 30px;
}
.sf-reset h2 {
    font-weight:   bold;
    color:         #FFFFFF;
    /* Font is duplicated of body (sans-serif) */
    font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    margin-bottom:    10px;
    background-color: #aacd4e;
    padding:          2px 4px;
    display:          inline-block;
    text-transform:   uppercase;

}
p {
    line-height:    20px;
    padding-bottom: 20px;
}
ul#demo-list a {
    background: url(../images/blue-arrow.png) no-repeat right 6px;
    padding-right: 10px;
    margin-right:  30px;
}
#symfony-header {
    position: relative;
    padding: 30px 30px 20px 30px;
}




/****general elements****/
.sf-reset .workwin{
    position:fixed;
    display:none;
    top:10%;
    left:50%;
    background-color: #fff;
    border: 1px solid #000;
    z-index:10;
    padding: 10px;


}
.sf-reset .workwin ul{
    list-style:none;
}
.sf-reset .workwin ul, .workwin ul li{
    padding:0;
    margin:0;
}

.blackLayer{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity: 0.3;
    background-color: #000;
    z-index:9;
}



.header{
		padding: 30px 0px 20px 0px;
}
.login_block{
		float:right;
}
.header-logo {
		float: none;
}

#login label, #contact_form label {
    display: block;
    float: left;
    width: 90px;
}
ul.menu {
    margin: 10px auto 0px;
		padding: 5px;
		text-align: center;
    text-transform: uppercase;
    border: 1px solid #08C;
    border-radius: 10px 10px;
}
.menu li {
    padding-left: 0;
    margin-right: 10px;
    display: inline;
}
a,
li a {
    color: #08C;
    text-decoration: none;
}
a:hover,
li a:hover {
    color: #08C;
    text-decoration: underline;
}









div.form_field{
	padding:10px 0;
}
.form_field label{
	display:inline-block;
	width:200px;
}
.sf-reset .symfony-blocks-welcome {
    overflow: hidden;
}
.sf-reset .symfony-blocks-welcome > div {
    background-color: whitesmoke;
    float:            left;
    width:            240px;
    margin-right:     14px;
    text-align:       center;
    padding:          26px 20px;
}
.sf-reset .symfony-blocks-welcome > div.block-demo {
    margin-right: 0;
}
.sf-reset .symfony-blocks-welcome .illustration {
    padding-bottom: 20px;
}
.sf-reset .symfony-blocks-help {
    overflow: hidden;
}
.sf-reset .symfony-blocks-help {
    margin-top: 30px;
    padding:    18px;
    border:     1px solid #E6E6E6;
}
.sf-reset .symfony-blocks-help > div {
    width:        254px;
    float:        left;
}
.flash-message {
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    background-color: #ffe;
}
.sf-reset .error {
    color: red;
}
.sf-reset .symfony-content pre {
    white-space: pre;
    font-family: monospace;
}




/*FindMartial Styles*/
.margtop15px{
    margin-top:15px !important;
}
.records_list{
    width:100%;

}
.records_list th, .records_list td {
    padding: 3px 5px;
}


.errorized-element {
    position: absolute;
    z-index: 10000;
    padding: 5px 10px;
    background: red;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
}

.fatal-error-modal {
    z-index:            9999;
    background-color:   #000;
    opacity:            .70;
    top:                0px;
    position:           absolute;
    display:            block;
}


input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}

input:required:focus {
  /*border: 1px solid red;*/
  outline: none;
}

input:required:hover {
  opacity: 1;
}

label.required:after { content:"*"; color:red;}

/****************Sign menu*********************/
ul.sign-menu, ul.sign-menu li{
    list-style: none;
    margin:0;
    padding:0;
}

ul.sign-menu{
    border:1px solid #08C;
    background-color: #fff;
    position: absolute;
    display: none;
    width: 147px;
}
ul.sign-menu li{
    padding: 10px 10px;
    border-top: 1px dashed #ccc;
}
ul.sign-menu li:first-child{
    border-top: none;
}
/****************Clubform**********************/
.map{
    width:100%;
    height:300px;
}