{% form_theme form _self %}

<form class="ajax-form_" action="{{ entity.id  ? path('master_update', { 'id': entity.id }) : path('master_create') }}" method="post" {{ form_enctype(form) }}>

  {% if entity.id %}
      <input type="hidden" name="_method" value="PUT" />
  {% endif %}

  {{ form_widget(form) }}

  <div><button type="submit">Сохранить</button><div id="container"></div></div>

</form>
