{% extends "AcmeFindMartialBundle::layout.html.twig" %}

{% block title "FindMartial" %}

{% block content %}
    <h1>Master creation</h1>

    {% include 'AcmeFindMartialBundle:Master:form.html.twig' %}

    <ul class="record_actions">
        <li>
            <a href="{{ path('master') }}">
                {{ 'field.backtolist'|trans({}, 'FindMartialBundle') }}
            </a>
        </li>
    </ul>
{% endblock %}
